

/*Global*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding: 0;
    margin: 0;
    background-color: #FFF0F5
}
  
.container{
    width: 87%;
    margin:auto;
    overflow:hidden;
}

#loginBox{
    /*center the box*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    /*set size of box*/
    height: 400px;
    width: 400px;

    /*box appearance*/
    background-color: #d2d8df;
    border-radius: 20px;
}

.formElementWrapper{
    margin-bottom: 12px;
    text-align: left;
    width: 100%;
}

#loginForm{
    margin: 0 auto;
    padding-top: 20px;
    width: 60%;
    text-align: center;
}

.formField{
    width: 100%;
}

#submitButton{
    width: 100%;
    border-radius: 5px;
}


